<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Unit Price</th>
      <th>Price With Tax</th>
      <th>Unit In Stock</th>
    </tr>
  </thead>
  <tr *ngFor="let product of products">
    <td>{{ product.productId }}</td>
    <td>{{ product.productName |uppercase }}</td>
    <td>{{ product.categoryId }}</td>
    <td>{{ product.unitPrice | currency }}</td>
    <td>{{ product.unitPrice | vatAdded:18 | currency }}</td>
    <td>{{ product.unitsInStock }}</td>
  </tr>
</table>
